<%- include('./partials/headinlog.ejs') %>

<h2><%=company.name%></h2>

<section>
  <a href="/addStakeholder/<%=company.id%>">
    <button>Stakeholders toevoegen</button>
  </a>

  <a href="">
     <button>Enquête invullen</button>
  </a>
</section>

