<%- include('./partials/headinlog.ejs') %>

<h1><%=company.name%></h1>
<h2>Wat wilt u doen?</h2>

<section class="field">
  <a href="/addStakeholder/<%=company.id%>">
    <button>Stakeholders toevoegen</button>
  </a>

  <a href="">
     <button>Enquête invullen</button>
  </a>
</section>

